<div class="col-lg-12 col-md-12 col-sm-12 gate_metrics block">

    <!--Gate METRICS Popup Section Start-->

    <div id="popover-content-gate" class="hide">
        <button type="button" class="close" data-dismiss="popover" aria-hidden="true"><img alt="" src="../../../assets/images/close_icon.png"></button>
        <h3>Gate Metrics</h3>
        <div class="popup_content">
            <div class="visitor_profile ml-0"><span><img alt="" src="../../../assets/images/visitor_img3.png"></span></div>
            <div class="visitor_details">
                <h4>Nikhil Sharma</h4>
                <table>
                    <tr>
                        <td>Current location</td>
                        <td>: Tower A, Garder Area</td>
                    </tr>
                    <tr>
                        <td>In time</td>
                        <td>: 02:00 pm</td>
                    </tr>
                    <tr>
                        <td>Expected out time</td>
                        <td>: 04:00 pm</td>
                    </tr>
                    <tr>
                        <td>Where to go</td>
                        <td>: Tower B, Flat Number - 156</td>
                    </tr>
                </table>
            </div>
        </div>
    </div>
    <!--Gate METRICS Popup Section End-->

    <h4>Gate metrics</h4>
    <ul id="tabsJustified" class="nav nav-tabs">
        <li *ngFor="let item of gateCount" style="cursor:pointer;" class="nav-item"><a href="javascript:void(0)" [attr.data-target]="'#gate'+item.value" (click)="onGateSelected(item.label)" data-toggle="tab" class="nav-link" [class.active]="item.value===selectedLabel"><span>{{item.value}}</span></a></li>
    </ul>


    <div id="tabsJustifiedContent" class="tab-content">
        <div [attr.id]="selectedGate" class="tab-pane  fade active show">
            <h4>Gate Pass metrics ({{selectedGate}})</h4>
            <div id="gateAlet" class="alert_list">
                <ul>
                    <li *ngFor="let gate of selectedMetric" [class]="gate.type"><a data-toggle="popover" data-container="body" data-placement="top" type="button" data-html="true" href="javascript:void(0);" id="gate">{{gate.zone_name +' '+gate.text}}</a></li>
                </ul>
            </div>
        </div>
    </div>
    <div id="gatelight" class="gatePopup">
        <button type="button" class="close" (click)="closePopUp()" data-dismiss="popover" aria-hidden="true"><img alt="" src="../../../assets/images/close_icon.png"></button>
        <h3 class="popupheader">GATE METRIX</h3>
        <div>
            <div class="row">
                <div class="col-lg-12 col-md-12  col-sm-12">GATE NUMBER 1</div>
            </div>
            <div class="row">
                <div class="col-lg-12 col-md-12  col-sm-12">{{gateTime}}</div>
            </div>
            <div class="row">
                <div style="border:0.1px solid rgba(255,255,255,0.3);" class="col-lg-6 col-md-6  col-sm-6">
                    <div style="margin-top:5px;" class="row">
                        <div class="col-lg-5 col-md-5  oj-sm-5">
                            GATE ENTRIES
                        </div>
                        <div class="col-lg-7 col-md-7  oj-sm-7">
                            <div style="border:1px solid orange;">SELECT ANOTHER GATE</div>
                        </div>
                    </div>
                    <br/>
                    <div style="border-bottom:0.5px solid rgba(255,255,255,0.3);" class="row">
                        <div class="col-lg-9 col-md-9  oj-sm-9">
                            TOTAL VISITORS IN
                        </div>
                        <div class="col-lg-3 col-md-3  oj-sm-3">
                            <div>252</div>
                        </div>
                    </div>
                    <div style="border-bottom:0.5px solid rgba(255,255,255,0.3);" class="row">
                        <div class="col-lg-9 col-md-9  oj-sm-9">
                            TOTAL VISITORS OUT
                        </div>
                        <div class="col-lg-3 col-md-3  oj-sm-3">
                            <div>67</div>
                        </div>
                    </div>
                    <div style="border-bottom:0.5px solid rgba(255,255,255,0.3);" class="row">
                        <div class="col-lg-9 col-md-9  oj-sm-9">
                            VEHICLES IN
                        </div>
                        <div class="col-lg-3 col-md-3  oj-sm-3">
                            <div>52</div>
                        </div>
                    </div>
                    <div style="border-bottom:0.5px solid rgba(255,255,255,0.3);" class="row">
                        <div class="col-lg-9 col-md-9  oj-sm-9">
                            VEHICLES OUT
                        </div>
                        <div class="col-lg-3 col-md-3  oj-sm-3">
                            <div>26</div>
                        </div>
                    </div>
                    <br/>
                    <div style="width:80%; position: relative;left: 10px;margin-bottom:5px;border:1px solid rgba(0,0,255,1); background-color:rgba(0,0,255,0.2)" class="row">
                        <div class="col-lg-9 col-md-9  oj-sm-9">
                            ALERTS ON GATE
                        </div>
                        <div class="col-lg-3 col-md-3  oj-sm-3">
                            <div>5</div>
                        </div>
                    </div>
                    <div style="width:80%; position: relative;left: 10px; margin-bottom:5px; border:1px solid rgba(255,0,0,1); background-color:rgba(255,0,0,0.2)" class="row">
                        <div class="col-lg-9 col-md-9  oj-sm-9">
                            ACTIVE ALERTS
                        </div>
                        <div class="col-lg-3 col-md-3  oj-sm-3">
                            <div>5</div>
                        </div>
                    </div>
                    <div style="width:80%; position: relative;left: 10px; margin-bottom:5px; border:1px solid rgba(0,255,0,1); background-color:rgba(0,255,0,0.2)" class="row">
                        <div class="col-lg-9 col-md-9  oj-sm-9">
                            AVAILABLE PARKING
                        </div>
                        <div class="col-lg-3 col-md-3  oj-sm-3">
                            <div>5</div>
                        </div>
                    </div>
                    <br/>
                    <div>HEAVY RUSH EXPECTED AT GATE ON 16:00 AND 18:00 HRS</div>
                </div>
                <div style="border:0.1px solid rgba(255,255,255,0.3);" class="col-lg-6 col-md-6 col-sm-6">
                    <div style="margin-top:5px;" class="row">
                        <div class="col-lg-5 col-md-5  oj-sm-5">
                            FORTHCOMING VISITORS
                        </div>
                        <div class="col-lg-7 col-md-7  oj-sm-7">
                            <div style="border:1px solid orange;">SELECT ANOTHER GATE</div>
                        </div>
                    </div>
                    <br/>
                    <div style="border-bottom:0.5px solid rgba(255,255,255,0.3); " class="row">
                        <div style="padding-top:14px; color:rgba(255,255,255,0.3)" class="col-lg-7 col-md-7  oj-sm-7">
                            TIME
                        </div>
                        <div style="color:rgba(255,255,255,0.3)!important;" class="col-lg-5 col-md-5  oj-sm-5">
                            EXPECTED VISITORS IN
                        </div>
                    </div>
                    <div style="border-bottom:0.5px solid rgba(255,255,255,0.3);" class="row">
                        <div class="col-lg-9 col-md-9  oj-sm-9">
                            15:00 : 15:30
                        </div>
                        <div class="col-lg-3 col-md-3  oj-sm-3">
                            <div>40</div>
                        </div>
                    </div>
                    <div style="border-bottom:0.5px solid rgba(255,255,255,0.3);" class="row">
                        <div class="col-lg-9 col-md-9  oj-sm-9">
                            16:00 : 16:30
                        </div>
                        <div class="col-lg-3 col-md-3  oj-sm-3">
                            <div>100</div>
                        </div>
                    </div>
                    <div style="border-bottom:0.5px solid rgba(255,255,255,0.3);" class="row">
                        <div class="col-lg-9 col-md-9  oj-sm-9">
                            17:00 : 17:30
                        </div>
                        <div class="col-lg-3 col-md-3  oj-sm-3">
                            <div>10</div>
                        </div>
                    </div>
                    <div style="border-bottom:0.5px solid rgba(255,255,255,0.3);" class="row">
                        <div class="col-lg-9 col-md-9  oj-sm-9">
                            18:00 : 18:30
                        </div>
                        <div class="col-lg-3 col-md-3  oj-sm-3">
                            <div>80</div>
                        </div>
                    </div>
                    <div style="border-bottom:0.5px solid rgba(255,255,255,0.3);" class="row">
                        <div class="col-lg-9 col-md-9  oj-sm-9">
                            19:00 : 19:30
                        </div>
                        <div class="col-lg-3 col-md-3  oj-sm-3">
                            <div>30</div>
                        </div>
                    </div>
                    <br/>
                    <div style="width:90%; position: relative;left: 10px;margin-bottom:5px; background-color:rgba(0,0,0,0.5)" class="row">
                        <div class="col-lg-9 col-md-9  oj-sm-9">
                            REGISTERED VISITORS FOR DAY
                        </div>
                        <div class="col-lg-3 col-md-3  oj-sm-3">
                            <div>300</div>
                        </div>
                    </div>
                    <div style="width:90%; position: relative;left: 10px; margin-bottom:5px; background-color:rgba(0,0,0,0.5)" class="row">
                        <div class="col-lg-9 col-md-9  oj-sm-9">
                            EXPECTED VEHCLED FOR DAY
                        </div>
                        <div class="col-lg-3 col-md-3  oj-sm-3">
                            <div>200/500</div>
                        </div>
                    </div>
                    <div style="width:90%; position: relative;left: 10px; margin-bottom:5px; background-color:rgba(0,0,0,0.5)" class="row">
                        <div class="col-lg-9 col-md-9  oj-sm-9">
                            REGISTERED VISITORS WALKERS FOR DAY
                        </div>
                        <div class="col-lg-3 col-md-3  oj-sm-3">
                            <div>100</div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div id="gatefade" class="black_overlay"></div>
    <div id="guestlight" class="guestPopup">
        <button type="button" class="close" (click)="closePopUp1()" data-dismiss="popover" aria-hidden="true"><img alt="" src="../../../assets/images/close_icon.png"></button>
        <h3 class="popupheader">GUEST NOTIFICATIONS</h3>
        <div>
            <div class="row">

                <div class="col-lg-11 col-md-11 col-sm-11">
                    <div style="border-bottom:0.5px solid rgba(255,255,255,0.3); " class="row">
                        <div style="padding-top:14px; color:rgba(255,255,255,0.3)" class="col-lg-7 col-md-7  oj-sm-7">
                            TIME
                        </div>
                        <div style="padding-top:14px; color:rgba(255,255,255,0.3)!important;" class="col-lg-5 col-md-5  oj-sm-5">
                            EXPECTED VISITORS IN
                        </div>
                    </div>
                    <div style="border-bottom:0.5px solid rgba(255,255,255,0.3);" class="row">
                        <div class="col-lg-9 col-md-9  oj-sm-9">
                            15:00 : 15:30
                        </div>
                        <div class="col-lg-3 col-md-3  oj-sm-3">
                            <div>40</div>
                        </div>
                    </div>
                    <div style="border-bottom:0.5px solid rgba(255,255,255,0.3);" class="row">
                        <div class="col-lg-9 col-md-9  oj-sm-9">
                            16:00 : 16:30
                        </div>
                        <div class="col-lg-3 col-md-3  oj-sm-3">
                            <div>100</div>
                        </div>
                    </div>
                    <div style="border-bottom:0.5px solid rgba(255,255,255,0.3);" class="row">
                        <div class="col-lg-9 col-md-9  oj-sm-9">
                            17:00 : 17:30
                        </div>
                        <div class="col-lg-3 col-md-3  oj-sm-3">
                            <div>10</div>
                        </div>
                    </div>
                    <div style="border-bottom:0.5px solid rgba(255,255,255,0.3);" class="row">
                        <div class="col-lg-9 col-md-9  oj-sm-9">
                            18:00 : 18:30
                        </div>
                        <div class="col-lg-3 col-md-3  oj-sm-3">
                            <div>80</div>
                        </div>
                    </div>
                    <div style="border-bottom:0.5px solid rgba(255,255,255,0.3);" class="row">
                        <div class="col-lg-9 col-md-9  oj-sm-9">
                            19:00 : 19:30
                        </div>
                        <div class="col-lg-3 col-md-3  oj-sm-3">
                            <div>30</div>
                        </div>
                    </div>

                </div>
            </div>
        </div>
    </div>
    <div id="guestfade" class="black_overlay"></div>
    <div id="registeredVisitorlight" class="visitPopup">
        <button type="button" class="close" (click)="closePopUp2()" data-dismiss="popover" aria-hidden="true"><img alt="" src="../../../assets/images/close_icon.png"></button>
        <h3 class="popupheader">REGISTERED VISITORS</h3>
        <div>
            <div class="row">
                <div style="margin-left:10px" class="col-lg-11 col-md-11  col-sm-11">
                    <div style="border-bottom:0.5px solid rgba(255,255,255,0.3);" class="row">
                        <div class="col-lg-9 col-md-9  oj-sm-9">
                            ACTIVE RFID
                        </div>
                        <div class="col-lg-3 col-md-3  oj-sm-3">
                            <div>57</div>
                        </div>
                    </div>
                    <div style="border-bottom:0.5px solid rgba(255,255,255,0.3);" class="row">
                        <div class="col-lg-9 col-md-9  oj-sm-9">
                            UNTRACED RID
                        </div>
                        <div class="col-lg-3 col-md-3  oj-sm-3">
                            <div>3</div>
                        </div>
                    </div>
                    <div style="border-bottom:0.5px solid rgba(255,255,255,0.3);" class="row">
                        <div style="color:red;" class="col-lg-9 col-md-9  oj-sm-9">
                            LAPSED RFID
                        </div>
                        <div style="color:red;" class="col-lg-3 col-md-3  oj-sm-3">
                            <div>10</div>
                        </div>
                    </div>
                    <br/>
                    <div style="border-bottom:0.5px solid rgba(255,255,255,0.3);" class="row">
                        <div class="col-lg-9 col-md-9  oj-sm-9">
                            ISSUES QR CODE
                        </div>
                        <div class="col-lg-3 col-md-3  oj-sm-3">
                            <div>199</div>
                        </div>
                    </div>
                    <div style="border-bottom:0.5px solid rgba(255,255,255,0.3);" class="row">
                        <div class="col-lg-9 col-md-9  oj-sm-9">
                            ISSUES QR CODE
                        </div>
                        <div class="col-lg-3 col-md-3  oj-sm-3">
                            <div>199</div>
                        </div>
                    </div>
                    <div style="border-bottom:0.5px solid rgba(255,255,255,0.3);" class="row">
                        <div class="col-lg-9 col-md-9  oj-sm-9">
                            QR CODE CONSUMED
                        </div>
                        <div class="col-lg-3 col-md-3  oj-sm-3">
                            <div>3</div>
                        </div>
                    </div>
                    <div style="border-bottom:0.5px solid rgba(255,255,255,0.3);" class="row">
                        <div style="color:red;" class="col-lg-9 col-md-9  oj-sm-9">
                            PENDING GUEST ARRIVAL ACKNOWLEDGEMENT
                        </div>
                        <div style="color:red;" class="col-lg-3 col-md-3  oj-sm-3">
                            <div>10</div>
                        </div>
                    </div>
                    <br/>
                </div>
            </div>
        </div>
    </div>
    <div id="visitorfade" class="black_overlay"></div>
</div>
<div class="col-lg-12 col-md-12 col-sm-12 alert_feed block">
    <h4>Alert Feed</h4>
    <div id="alertFeed" class="alert_list">
        <ul>
            <li *ngFor="let alert of selectedalert " [style.color]="alert.color" [class]="alert.type">{{alert.zone_name +' '+alert.text}}</li>
            <li *ngFor="let alert of allAlerts " [style.color]="alert.color" [class]="alert.type">{{alert.zone_name +' '+alert.text}}</li>
        </ul>
    </div>
</div>