<div class="col-lg-12 col-md-12 col-sm-12 block visitor_metrix">
    <button type="button" class="close" data-dismiss="popover" (click)="openTabularReport()" aria-hidden="true"><img class="fa-expand-arrows-alt" src="assets/images/expand.png"></button>
    <h4>visitor metrics</h4>
    <div class="visitor_marics">
        <!--VISITOR METRICS Popup Section Start-->
        <ng-template #popContent>
            <div id="popover-content-visitor_metrics" class="hide visitor_popup">
                <button type="button" class="close" data-dismiss="popover" aria-hidden="true"><img alt=""
                        src="../../../assets/images/close_icon.png"></button>
                <h3>Visitors</h3>
                <div class="popup_content">
                    <div class="visitor_profile ml-0"><span><img alt=""
                                src="../../../assets/images/visitor_img2.png"></span></div>
                    <div class="visitor_details">

                        <h4>{{selectedVisitor.name}}</h4>
                        <table>
                            <tr>
                                <td>Current location</td>
                                <td>: {{selectedVisitor.current_location}}</td>
                            </tr>
                            <tr>
                                <td>In time</td>
                                <td>: {{selectedVisitor.arrival_time}}</td>
                            </tr>
                            <tr>
                                <td>Expected out time</td>
                                <td>: {{selectedVisitor.exp_out_time}}</td>
                            </tr>
                            <tr>
                                <td>Where to go</td>
                                <td>: {{selectedVisitor.where_to_go}}</td>
                            </tr>
                        </table>
                    </div>
                </div>
            </div>
        </ng-template>

        <!--VISITOR METRICS Popup Section End-->


        <table class="table">
            <thead>
                <tr>
                    <th *ngFor="let item of columData">{{item}}</th>
                </tr>
            </thead>
            <tbody>
                <tr *ngFor="let item of visitorMetrics">
                    <td><a data-container="body" data-placement="top" type="button" (click)="drawPath(item)" data-html="true" href="javascript:void(0);" [attr.id]="visitor_metrics">{{item.name}}</a>
                    </td>
                    <td>{{item.mobile}}</td>
                    <td>{{!!item.vehicles?item.vehicles[0].vehicleNo:''}}</td>
                    <!-- <td>{{!!item.vehicles?item.vehicles[0].make:''}}</td> -->
                    <td>{{item.actualInTime}}</td>
                    <td>{{item.expectedOut}}</td>
                    <!-- <td>{{!!item.vehicles?item.vehicles[0].parkingSlot:''}}</td> -->
                    <!-- <td>{{item.barcode}}</td> -->
                </tr>
            </tbody>
        </table>
    </div>
</div>
<!--Visitors Metrixs Section end-->

<!--Visitors Section start, width:875px, Height:93px;-->
<div class="col-lg-12 col-md-12 col-sm-12 block visitor_section">
    <div class="row row-no-gutters">
        <div class="col-sm-2 col-md-2 col-lg-2">
            <h4>Visitors</h4>
        </div>
        <div class="col-sm-10 col-md-10 col-lg-10">
            <div id="autoplay" calss="visitor">
                <span *ngFor="let item of visitorMetrics">
                    <div class="visitor_profile" (click)="openPopover(item)">
                        <div [class]="setVisitorTypeColor(item.visitorVisitStatus)"><span><img
                                             alt="" [attr.src]="item.guestPic"></span></div>
        </div>
        <h5>{{item.name}}</h5>
        </span>
    </div>
</div>
</div>
</div>


<div id="visitorlight" class="white_content_visitor visitor_detailstbl">
    <button type="button" class="close" (click)="closePopUp()" data-dismiss="popover" aria-hidden="true">&times;</button>
    <h3>Visitors</h3>
    <div class="popup_content">
        <div class="visitor_profile ml-0"><span><img alt="" [attr.src]="!!selectedVisitor ? selectedVisitor.guestPic : 'No Data Available'"></span></div>
        <div class="visitor_details">
            <h4>Nikhil Sharma</h4>
            <table class="table table-bordered">
                <tr>
                    <td>Contact Detail</td>
                    <td>: 9868956996</td>
                </tr>
                <tr>
                    <td>Last Visited Date</td>
                    <td>: 12-08-2019</td>
                </tr>
                <tr>
                    <td>Frequent Zones Visited</td>
                    <td>: No Data Available
                    </td>
                </tr>
                <tr>
                    <td>Invitee</td>
                    <td>: Mohan, Zone 1</td>
                </tr>
                <tr>
                    <td>Breach</td>
                    <td>: Yes on 27th Sep 2019.</td>
                </tr>
                
            </table>
        </div>
    </div>
</div>
<div id="visitorfade" class="black_overlay"></div>


