 <!--------------------- Guest PopUP with qr code--------------------------------------->

 <div class="white_content_visitor" *ngIf="openTable" style="display: block;">
     <button type="button" class="close" (click)="closePopUp()" data-dismiss="popover" aria-hidden="true">&times;</button>
     <h3>Flat NUMBER : <span id="flatno">{{!!selectedVisitor ? selectedVisitor.hostHouseNo : '-'}}</span></h3>
     <div class="popup_content">
         <div class="row">
             <div class="col-md-6">
                 <div class="visitormaintitle">
                     Host Details
                 </div>
                 <div class="visitor_profile ml-0"><span><img alt="" [attr.src]="!!selectedVisitor ? selectedVisitor.hostPic : 'No Data Available'"></span></div>
                 <div class="visitor_details">
                     <h4>{{!!selectedVisitor ? selectedVisitor.hostName : '-'}}</h4>
                     <p>Contact Number : {{!!selectedVisitor ? selectedVisitor.hostActiveMobileNo : '-'}}</p>
                 </div>
                 <div style="clear:both;"></div>
                 <div class="visitor_detailstbl">
                     <img src="https://encrypted-tbn0.gstatic.com/images?q=tbn%3AANd9GcTrr_6SZl1Az-DPPQrPoJqxl8H_rH2-xk8C7gzxoduRAHoFMTBQ" class="qrimage">
                 </div>
                 <div style="clear: both"></div>
             </div>
             <div class="col-md-6">
                 <div class="visitormaintitle">
                     Guest Details
                 </div>
                 <div class="visitor_profile ml-0"><span><img alt="" [attr.src]="!!selectedVisitor ? selectedVisitor.guestPic : 'No Data Available'"></span></div>
                 <div class="visitor_details">
                     <h4>{{!!selectedVisitor ? selectedVisitor.name: '-'}}</h4>
                     <!-- <h4>{{selectedVisitor.name}}</h4> -->
                     <p>Contact Number : {{!!selectedVisitor && !!selectedVisitor.mobile ? ('+91'+selectedVisitor.mobile) : '-'}}</p>
                 </div>
                 <div style="clear:both;"></div>
                 <div class="visitor_detailstbl">
                     <table class="table">
                         <tr>
                             <td>Visitor Info</td>
                             <td>
                                 Name: {{selectedVisitor.name}}<br> Address: {{selectedVisitor.fromAddress}}<br> mobile Number: {{selectedVisitor.mobile}}<br>
                             </td>
                         </tr>
                         <tr>
                             <td>Visitor Info</td>
                             <td>
                                 Name: {{selectedVisitor.hostName}}<br> Address: {{selectedVisitor.hostHouseNo}}<br> mobile Number: {{selectedVisitor.hostActiveMobileNo}}<br>
                             </td>
                         </tr>
                         <tr>
                             <td>IN TIME</td>
                             <td>{{selectedVisitor.expectedIn}}</td>
                         </tr>
                         <tr>
                             <td>OUT TIME</td>
                             <td>{{selectedVisitor.expectedOut}}</td>
                         </tr>
                         <tr>
                             <td>VEHICLES DETAILS</td>
                             <td><span *ngFor="let vehicle of selectedVisitor.vehicles">Vehicle No.: {{(!!selectedVisitor.vehicles)?vehicle.vehicleNo:'-'}}<br>Parking Slot: {{(!!selectedVisitor.vehicles)?vehicle.parkingSlot:'-'}}</span></td>
                         </tr>
                         <tr>
                             <td>Historical breach info</td>
                             <td>
                                 Interzonal: None<br> Blacklisted: None<br> Disputed: None<br> Classified: None<br>
                             </td>
                         </tr>
                         <tr>
                             <td>Additional Guest Info
                             </td>
                             <td>Count: {{selectedVisitor.otherGuests.length}}<br><span *ngFor="let otherGuest of selectedVisitor.otherGuests">Name: {{otherGuest.name}}<br></span></td>
                         </tr>

                     </table>
                 </div>
                 <div style="clear: both"></div>
             </div>
         </div>

     </div>
 </div>
 <!--________________________________-->