<div class="overlay" style="display:none;"></div>
<div *ngIf="isDataAvailable">
    <top-toolbar [topData]="topBar"></top-toolbar>
    <div class="container-fluid main_container">
        <div class="row">
            <side-bar style="display: contents" [sideBarData]="sideBar"></side-bar>
            <main role="main" style="margin-left:0!important;" class="col-sm-9 col-md-9 ml-sm-auto">
                <div class="row">
                    <main-map [datasource]="visitorMetrics" [alertFeedMetrics]="alertFeedMetrics" *ngIf="isMapAvailable" [mapData]="mapData" [openTable]="openTable" [pathData]="pathData" style="display: contents"></main-map>
                    <div class="col-sm-6 col-md-6 P-left content_right" style="margin-left:10px !important;">
                        <div class="">
                            <div class="col-sm-12 col-md-12 col-lg-12">
                                <div class="row">
                                    <div class="col-sm-6 col-md-6 col-lg-6 third_colunm">
                                        <security-overview style="display: contents" [securityOverview]="securityOverview"></security-overview>
                                        <event-summary style="display: contents" [eventSummary]="eventSummary" [eventData]="eventData"></event-summary>
                                        <monitor-metric style="display: contents" [monitorMetrics]="monitorMetrics" [alertFeedMetrics]="alertFeedMetrics"></monitor-metric>
                                    </div>
                                    <div class="col-sm-6 col-md-6 col-lg-6 fourth_colunm">
                                        <entry-summary style="display: contents" [entrySummary]="entrySummary"></entry-summary>
                                    </div>
                                </div>
                            </div>

                        </div>
                        <div class="col-sm-12 col-md-12 col-lg-12 block tower_entry_row">
                            <div class="row">
                                <tower-entry style="display: contents" [towerEntry]="towerEntry" [anomalySummary]="anomalySummary"></tower-entry>
                            </div>
                        </div>
                        <visitor-metrics style="display: contents" [visitorMetrics]="visitorMetrics" (pathInfo)="getPathInfo($event)" (openTable)="openNewTable($event)"></visitor-metrics>
                    </div>
                </div>
            </main>
            <div class="col-sm-2 col-md-2 cctv_camera">
                <cctv-camera style="display: contents"> </cctv-camera>
            </div>
        </div>
    </div>
</div>

<footer id="footer">
    <div *ngIf="isDataAvailable">
        <foot-bar [parkingMetrics]="parkingMetrics"></foot-bar>
    </div>
</footer>