<div class="col-sm-6 col-md-6 map" style="position: relative;  padding-left:0px; padding-right:0px;">
    <div class="canvas" style="z-index: -1; width: inherit; height:inherit;">
        <img style="width: inherit; height:inherit; position:absolute; " [src]="image ">
        <svg [style.width]="mapData.baseMapImageResolution[0]" [style.height]="mapData.baseMapImageResolution[1] " style="position:absolute; border: 1px solid lawngreen; z-index:1; opacity:1;">  
        <polygon *ngFor="let zone of mapData.zonesDetail " id="{{'zone-'+ zone.id}}"  [attr.points]="zone.polygon.toString()"
            style="position:relative;" [attr.class]="!!zone && !!zone.zoneAlerts && zone.zoneAlerts!==undefined && !!zone.zoneAlerts[0]  ? 'active' : ''" [style.stroke]="!!zone && !!zone.zoneAlerts && zone.zoneAlerts!==undefined && !!zone.zoneAlerts[0]  ? zone.zoneAlerts[0].color : zone.color" (click)="openZoneImage(zone)" > 
                <animate
                id="{{'animate-'+zone.id}}"
                *ngIf="!!zone && !!zone.zoneAlerts && zone.zoneAlerts!==undefined && !!zone.zoneAlerts[0] && zone.zoneAlerts[0].type=='ALERT'"
                attributeType="CSS"
                attributeName="fill"
                from="0"
                to="1"
                values="#800;#f00;#f00;#g00"
                begin="0s"
                dur="0.8s"
                repeatCount="indefinite"
            fill="freeze"/>
        </polygon>
        </svg>
        <svg *ngIf="drawPath" [style.width]="mapData.baseMapImageResolution[0] " [style.height]="mapData.baseMapImageResolution[1] " style="position:absolute; ">
            <path  [attr.d]="'M'+pathpoints.pathDetail[0].path.toString()"  fill="none" style="position:absolute;" [attr.stroke]="pathpoints.pathDetail[0].color" stroke-width="10"/>
        </svg>
    </div>
    <div [hidden]="!openTheTable" class="mat-elevation-z8 visitor-mat-tbl">
        <span id="tbl-expand"  (click)="closeTabularReport()">&times;</span>
        <!-- <table id="printTable" mat-table matTableExporter #exporter="matTableExporter" [dataSource]="sortedData" matSort (matSortChange)="sortData($event)">
            
            <ng-container *ngFor="let filterCol of displayedColumns">
                <ng-container matColumnDef="{{filterCol}}">
                    <th mat-header-cell *matHeaderCellDef>
                        <br>
                        <span mat-sort-header>{{filterCol | uppercase}}</span>
                        <br>
                        <mat-form-field class="filter" floatLabel="never">
                            <mat-label>Search</mat-label>
                            <input matInput (keyup)="applyFilter($event.target.value)" (focus)="setupFilter(filterCol)">
                        </mat-form-field>
                    </th>
                    <br>
                    <td mat-cell *matCellDef="let element"> {{element[filterCol]}} </td>
                </ng-container>
            </ng-container>
            <td mat-cell *matCellDef="let element"> {{element.name}} </td>
            <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
            <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
        </table>
        <mat-paginator [length]="sortedData!==undefined && sortedData.paginator!==undefined? sortedData.paginator.length : 25" [pageSize]="sortedData!==undefined && sortedData.paginator!==undefined? sortedData.paginator.pageSize : 5" [pageSizeOptions]="sortedData!==undefined && sortedData.paginator!==undefined? sortedData.paginator.pageSizeOptions : [1, 5, 10, 15, 20, 25]"
            (page)="updatePage($event)">
        </mat-paginator>
        <button mat-raised-button (click)="exporter.exportTable('xlsx', {fileName:'Visitor Details', sheet: 'sheet_name', Props: {Author: 'Talha'}})">Excel</button>
  <button mat-raised-button (click)="exporter.exportTable('csv')">Csv</button>
  <button mat-raised-button id="button">Print</button> -->

  <table datatable [dtOptions]="dtOptions" class="row-border hover">
    <thead>
      <tr>
        <th *ngFor="let filterCol of displayedColumns">{{filterCol}}</th>
      </tr>
    </thead>
    <tbody>
      <tr  *ngFor="let element of datasource">
        <td *ngFor="let filterCol of displayedColumns">{{element[filterCol]}}</td>
      </tr>
      
    </tbody>
  </table>
    </div>
    <div class="row" style="margin-left: 50px;">
        <div id="light" class="white_content" style="margin-left: 0px;
        left: auto;
        width: auto;
        height: auto;">
            <button type="button" class="close" (click)="closePopUp()" data-dismiss="popover" aria-hidden="true"><img alt="" src="../../../assets/images/close_icon.png"></button>
            <h3>{{zoneName}}</h3>
            <div>
                <img [src]="zoneImage">
            </div>
        </div>
        <div id="light2" class="white_content" style="margin-left: 20%;
        width: auto;
        height: auto;
        background-color: aliceblue">
            <button type="button" class="close" (click)="closePopUp()" data-dismiss="popover" aria-hidden="true"><img alt="" src="../../../assets/images/close_icon.png"></button>
            <h3>{{zoneName + ' : ' +'Devices'}}</h3>
            <div style="margin-left: 10px; margin-right: 5px;">
                <table>
                    <tr>
                        <h6>Device Name: RFID | Status: Working | IP: '190.162.1.105'</h6>
                    </tr>
                    <hr/>
                    <tr>
                        <h6>Device Name: CAM1 | Status: Not Working | IP: '190.162.1.106'</h6>
                    </tr>
                    <hr/>
                    <tr>
                        <h6>Device Name: Fire Sensor | Status: Alert | IP: '190.162.1.107'</h6>
                    </tr>
                    <hr/>
                    <tr>
                        <h6>Device Name: Relay | Status: Working | IP: '190.162.1.108'</h6>
                    </tr>
                    <hr/>
                    <tr>
                        <h6>Device Name: RFID | Status: Working | IP: '190.162.1.109'</h6>
                    </tr>
                </table>
            </div>
        </div>
    </div>

    <div id="fade" class="black_overlay"></div>
    
    
    <!--map zone popup-->
    <div class="backmain" id="zonepopup">
            <div class="row">
                <div class="col-md-6">
                    <div class="row">
                        <div class="col-md-12">
                               <div id="light21" class="white_content_new">
                              <button type="button" class="close" (click)="closePopUp()" data-dismiss="popover" aria-hidden="true">&times;</button>
                              <h3>Zonal Data</h3>
                              <div class="pop-body">
                                  <div class="row borderbottom">
                                      <div class="col-md-6">
                                      <div class="heading-data">
                                          <h1>ZONE 1</h1>
                                          <p>25 NOV 6:46 HRS</p>
                                      </div>
                                      </div>
                                      <div class="col-md-6">
                                          <button class="orgbut btn pull-right">Select Another Zone</button>
                                      </div>
                                  </div>
                                  <div class="row">
                                      <div class="col-md-6 borderright">
                                          <table class="table table-striped">
                                              <tr>
                                                  <td>Number Of Visitors</td>
                                                  <td>52</td>
                                              </tr>
                                              <tr>
                                                  <td>Active Rfid</td>
                                                  <td>28</td>
                                              </tr>
                                              <tr>
                                                  <td>QR Code Issude</td>
                                                  <td>52</td>
                                              </tr>
                                              <tr>
                                                  <td>Parking Consumed</td>
                                                  <td>52</td>
                                              </tr>				    					
                                          </table>
                                          <div>
                                              <div class="main-title">VISITORS SUMMARY</div>
                                              <div class="bgblack">
                                              <table class="table table-striped">
                                              <tr>
                                                  <td><i class="fas fa-walking"></i>Walkings</td>
                                                  <td>52</td>
                                              </tr>
                                              <tr>
                                                  <td><i class="fas fa-qrcode"></i>QR Registored Visitors</td>
                                                  <td>28</td>
                                              </tr>
                                              <tr>
                                                  <td><i class="fas fa-user-tie"></i>Vendors</td>
                                                  <td>52</td>
                                              </tr>
                                              <tr>
                                                  <td><i class="fas fa-radiation-alt"></i>Domestic Help</td>
                                                  <td>52</td>
                                              </tr>				    					
                                          </table>
                                          </div>
                                          </div>
                                      </div>
                                      <div class="col-md-6">
                                          <div class="body-pop-sub2">
                                              <div class="event-icon"><img src="assets/images/rocket-icon.jpg" class="img-responsive"></div>
                                              <div class="main-title">UPCOMMING EVENT</div>
                                              <div class="event-desc">
                                                  <p>Tower Q resident Monthly meeting at 14:50 HRS</p>
                                                  <p>Tower Q resident Monthly meeting at 14:50 HRS</p>
                                              </div>
                                          </div>
                                      </div>
                                  </div>
                              </div>
                          </div>
                         </div>
                       </div>
                </div>
                <div class="col-md-5 ml-35">
                    <div class="row">
                        <div class="col-md-12">
                               <div id="light21" class="white_content_new">
                               <button type="button" class="close" (click)="closePopUp()" data-dismiss="popover" aria-hidden="true">&times;</button>
                               <h3>EXPECTED VISIT OF ZONE</h3>
                               <div style="margin-left: 10px; margin-right: 5px;">
                                       <table class="table table-striped">
                                           <tr>
                                               <th>TIME</th>
                                               <th>EXPECTED VISITORS IN</th>
                                           </tr>
                                           <tr>
                                               <td>12:00 : 12:30</td>
                                               <td>Q801,Q1105</td>
                                           </tr>
                                           <tr>
                                               <td>12:00 : 12:30</td>
                                               <td>Q801,Q1105</td>
                                           </tr>
                                           <tr>
                                               <td>12:00 : 12:30</td>
                                               <td>Q801,Q1105</td>
                                           </tr>				    					
                                       </table>
                               </div>
                           </div>
                        </div>
                       </div>
                       <div class="row">
                           <div class="col-md-12 mt15">
                                   <div id="light21" class="white_content_new">
                                   <button type="button" class="close" (click)="closePopUp()" data-dismiss="popover" aria-hidden="true">&times;</button>
                                   <h3> ALERTS OF ZONE 1</h3>
                                   <div style="margin-left: 10px; margin-right: 5px;">
                                           <table class="table">
                                                   <tr>
                                                       <td>UNUSUAL HIGH TRAFIC AT 12:30</td>
                                                   </tr>
                                                   <tr>
                                                       <td>ALERT RAISED BY RESIDENT Q607</td>
                                                   </tr>				    					
                                               </table>
                                               <div class="alert alert-danger">
                                                       <i class="fas fa-exclamation-circle"></i>ACTIVE ALERT : LIFT NOT QORKING IN TOWER Q
                                               </div>
                                   </div>
                               </div>
                            </div>
                        
                       </div>
                       <div class="row">
                           <div class="col-md-12 mt15">
                               <div id="light21" class="white_content_new">
                                   <button type="button" class="close" (click)="closePopUp()" data-dismiss="popover" aria-hidden="true">&times;</button>
                                   <h3>{{zoneName + ' : ' +'Devices'}}</h3>
                                   <div style="margin-left: 10px; margin-right: 5px;">
                                       <table class="table">
                                           <tr>
                                               <th></th>
                                               <th>Device Name</th>
                                               <th>Status</th>
                                               <th>IP</th>
                                           </tr>
                                           <tr>
                                               <td><img src="assets/images/rfid-white.png"> <i class="fas fa-check-circle text-success"></i></td>
                                               <td>RFID</td>
                                               <td>Working</td>
                                               <td>190.162.1.105</td>
                                           </tr>
                                           <tr>
                                               <td><img src="assets/images/camera-white.png"> <i class="fas fa-info-circle text-danger"></i></td>
                                               <td>CAM1</td>
                                               <td>Not Working</td>
                                               <td>190.162.1.106</td>
                                           </tr>
                                           <tr>
                                               <td><img src="assets/images/fire-white.png"> <i class="fas fa-info-circle text-warning"></i></td>
                                               <td>Fire Sensor</td>
                                               <td>Alert</td>
                                               <td>190.162.1.107</td>
                                           </tr>
                                           <tr>
                                               <td><img src="assets/images/relay-white.png"> <i class="fas fa-check-circle text-success"></i></td>
                                               <td>Relay</td>
                                               <td>Working</td>
                                               <td>190.162.1.108</td>
                                           </tr>
                                           <tr>
                                               <td><img src="assets/images/rfid-white.png"> <i class="fas fa-check-circle text-success"></i></td>
                                               <td>RFID</td>
                                               <td>Working</td>
                                               <td>190.162.1.109</td>
                                           </tr>
                                       </table>
                                   </div>
                               </div>
                           </div>
                       </div>
                </div>
            </div>
          </div>
    <!-------->
    
    <!-- gate matric popup -->
<div class="backmain" id="gatemetricpopup">
        <div class="row">
            <div class="col-md-6">
                <div class="row">
                    <div class="col-md-12">
                           <div id="light21" class="white_content_new">
                          <button type="button" class="close" (click)="closePopUp()" data-dismiss="popover" aria-hidden="true">&times;</button>
                          <h3>Gate Matrix</h3>
                          <div class="pop-body">
                              <div class="row borderbottom">
                                  <div class="col-md-12">
                                  <div class="heading-data">
                                      <h1>Gate Number 2</h1>
                                      <p>25 NOV 6:46 HRS</p>
                                  </div>
                                  </div>
                                  
                              </div>
                              <div class="row">
                                  <div class="col-md-6 borderright">
                                        <div class="col-md-12 nopadding">
                                            <div class="row">
                                                <div class="col-md-6 gatetxt">
                                                        Gate Entries
                                                </div>
                                                <div class="col-md-6">
                                                        <button class="orgbutgm btn pull-right">Select Another Zone</button>
                                                </div>
                                            </div>
                                                
                                                
                                            </div>
                                      <table class="table margint10">
                                          <tr>
                                              <td>Total Visitors In</td>
                                              <td>52</td>
                                          </tr>
                                          <tr>
                                              <td>Total Visitors Out</td>
                                              <td>28</td>
                                          </tr>
                                          <tr>
                                              <td>VEHICLES IN</td>
                                              <td>52</td>
                                          </tr>
                                          <tr>
                                              <td>VEHICLES Out</td>
                                              <td>52</td>
                                          </tr>				    					
                                      </table>
                                      <div>
                                            <div class="row gatepopalertbox alert alertblue">
                                                <div _ngcontent-rwm-c6="" class="col-lg-9 col-md-9  oj-sm-9"> ALERTS ON GATE </div>
                                                <div _ngcontent-rwm-c6="" class="col-lg-3 col-md-3  oj-sm-3">5</div>
                                            </div>
                                            <div class="row gatepopalertbox alert alert-success">
                                                <div _ngcontent-rwm-c6="" class="col-lg-9 col-md-9  oj-sm-9"> ACTIVE ALERTS </div>
                                                <div _ngcontent-rwm-c6="" class="col-lg-3 col-md-3  oj-sm-3">5</div>
                                            </div>
                                            <div class="row gatepopalertbox alert alertgreen">
                                                <div _ngcontent-rwm-c6="" class="col-lg-9 col-md-9  oj-sm-9"> AVAILABLE PARKING </div>
                                                <div _ngcontent-rwm-c6="" class="col-lg-3 col-md-3  oj-sm-3">5</div>
                                            </div>
                                      </div>
                                      <div class="gatenotification margint10">HEAVY RUSH EXPECTED AT GATE ON 16:00 AND 18:00 HRS</div>
                                  </div>
                                  <!-- <div class="col-md-12"> -->
                                        <div class="col-md-6 borderright">
                                        <div class="col-md-12 nopadding">
                                                <div class="row">
                                                        <div class="col-md-6 gatetxt">
                                                                Forthcoming Visit
                                                        </div>
                                                        <div class="col-md-6">
                                                                <button class="orgbutgm btn pull-right">Select Another Zone</button>
                                                        </div>
                                                    </div>
                                            </div>
                                      <table class="table margint10">
                                          <tr>
                                              <th>TIME</th>
                                              <th>EXPECTED VISITOR IN</th>
                                          </tr>
                                          <tr>
                                              <td>16:00 : 16:30</td>
                                              <td class="text-right"><span class="text-danger">52</span></td>
                                          </tr>
                                          <tr>
                                              <td>17:00 : 17:30</td>
                                              <td class="text-right"><span class="white">28</span></td>
                                          </tr>
                                          <tr>
                                              <td>15:00 : 15:30</td>
                                              <td class="text-right"><span class="text-warning">2</span></td>
                                          </tr>
                                          <tr>
                                              <td>18:00 : 18:30</td>
                                              <td class="text-right"><span class="text-danger">20</span></td>
                                          </tr>				    					
                                      </table>
                                      <div>
                                            <div class="row gatemetrixbinfo">
                                                    <div class="col-lg-9 col-md-9  oj-sm-9">
                                                        REGISTERED VISITORS FOR DAY
                                                    </div>
                                                    <div class="col-lg-3 col-md-3  oj-sm-3">
                                                        <div>300</div>
                                                    </div>
                                                </div>
                                                <div class="row gatemetrixbinfo">
                                                    <div class="col-lg-9 col-md-9  oj-sm-9">
                                                        EXPECTED VEHCLED FOR DAY
                                                    </div>
                                                    <div class="col-lg-3 col-md-3  oj-sm-3">
                                                        <div>200/500</div>
                                                    </div>
                                                </div>
                                                <div class="gatemetrixbinfo row">
                                                    <div class="col-lg-9 col-md-9  oj-sm-9">
                                                        REGISTERED VISITORS WALKERS FOR DAY
                                                    </div>
                                                    <div class="col-lg-3 col-md-3  oj-sm-3">
                                                        <div>100</div>
                                                    </div>
                                                </div>
                                      </div>
                                      
                                  </div>
                                  <!-- </div> -->
                              </div>
                          </div>
                      </div>
                     </div>
                   </div>
            </div>
            <div class="col-md-5 ml-35">
                <div class="row">
                    <div class="col-md-12">
                           <div id="light21" class="white_content_new">
                           <button type="button" class="close" (click)="closePopUp()" data-dismiss="popover" aria-hidden="true">&times;</button>
                           <h3>GUEST NOTIFICATIONS</h3>
                           <div style="">
                                   <table class="table table-striped" style="width: 95%; margin: auto;">
                                       <tr>
                                           <th>TIME</th>
                                           <th>EXPECTED VISITORS IN</th>
                                       </tr>
                                       <tr>
                                           <td>12:00 : 12:30</td>
                                           <td>Q801,Q1105</td>
                                       </tr>
                                       <tr>
                                           <td>12:00 : 12:30</td>
                                           <td>Q801,Q1105</td>
                                       </tr>
                                       <tr>
                                           <td>12:00 : 12:30</td>
                                           <td>Q801,Q1105</td>
                                       </tr>				    					
                                   </table>
                           </div>
                       </div>
                    </div>
                   </div>
                   <div class="row">
                       <div class="col-md-12 mt15">
                               <div id="light21" class="white_content_new">
                               <button type="button" class="close" (click)="closePopUp()" data-dismiss="popover" aria-hidden="true">&times;</button>
                               <h3>REGISTERED VISITORS</h3>
                               <div>
                                       <table class="table" style="width: 95%; margin: auto;">
                                            <tr>
                                                    <td><span>ACTIVE RFID</span></td>
                                                    <td class="text-right"><span class="white">52</span></td>
                                                </tr>
                                                <tr>
                                                        <td><span>UNTRACED RID</span></td>
                                                        <td class="text-right"><span class="text-warning">2</span></td>
                                                </tr>
                                                <tr>
                                                        <td><span class="text-danger">LAPSED RFID</span></td>
                                                        <td class="text-right"><span class="text-danger">2</span></td>
                                                </tr>
                                                <tr>
                                                        <td><span class="text-danger">ISSUES QR CODE</span></td>
                                                        <td class="text-right"><span class="text-danger">20</span></td>
                                                </tr>
                                                <tr>
                                                        <td><span class="">QR CODE CONSUMED</span></td>
                                                        <td class="text-right"><span class="text-warning">3</span></td>
                                                </tr>
                                                <tr>
                                                    <td><span class="text-danger">PENDING GUEST ARRIVAL ACKNOWLEDGEMENT</span></td>
                                                    <td class="text-right"><span class="text-danger">2</span></td>
                                                </tr>					    					
                                           </table>
                                           
                               </div>
                           </div>
                        </div>
                    
                   </div>
                   
            </div>
        </div>
      </div>

    <!---------------------------------------------------------------------------------->
    <div id="visitor-report" class="mat-elevation-z8 visitor-mat-tbl-report">
        <span id="tbl-expand"  (click)="closePopUp()">&times;</span>
       

  <table datatable [dtOptions]="dtOptions" class="row-border hover">
    <thead>
      <tr>
        <th *ngFor="let filterCol of displayedColumnsReport">{{filterCol}}</th>
      </tr>
    </thead>
    <tbody>
      <tr  *ngFor="let element of datasource" (click)="openGuestReport(element)">
        <td>Name: {{element.name}}<br>Address: {{element.fromAddress?element.fromAddress:"No Address"}}<br>Mobile: {{element.mobile}}<br>Purpose Of Visit: <br>Duration: {{element.expectedIn | date: "medium"}} to<br> {{element.expectedOut | date: "medium"}}</td>
        <td style="text-align: left !important">Hardware</td>
        <td>invitee</td>
        <td>{{element.expectedIn | date: "medium"}}</td>
        <td>{{element.expectedOut | date: "medium"}}</td>
        <td><span *ngFor="let vehicle of element.vehicles">{{vehicle.vehicleNo}}<br></span></td>
        <td><span *ngFor="let otherGuest of element.otherGuests">{{otherGuest.name}}<br></span></td>
      </tr>
      
    </tbody>
  </table>
    </div>

    <!--------------------- Guest PopUP with qr code--------------------------------------->

    <div id="fadereport" class="black_overlayreport" *ngIf="selectedVisitor" style="display: block;"></div>
<div id="visitorlight11" class="white_content_visitor" *ngIf="selectedVisitor" style="display: block;">
    <button type="button" class="close" (click)="closePopUpVRreport()" data-dismiss="popover" aria-hidden="true">&times;</button>
    <h3>Flat NUMBER : <span id="flatno">{{!!selectedVisitor ? selectedVisitor.hostHouseNo : '-'}}</span></h3>
    <div class="popup_content">
        <div class="row">
            <div class="col-md-6">
                <div class="visitormaintitle">
                    Host Details
                </div>
                <div class="visitor_profile ml-0"><span><img alt="" [attr.src]="!!selectedVisitor ? selectedVisitor.hostPic : 'No Data Available'"></span></div>
                <div class="visitor_details">
                    <h4>{{!!selectedVisitor ? selectedVisitor.hostName : '-'}}</h4>
                    <p>Contact Number : {{!!selectedVisitor ? selectedVisitor.hostActiveMobileNo : '-'}}</p>
                </div>
                <div style="clear:both;"></div>
                <div class="visitor_detailstbl">
                    <img src="https://encrypted-tbn0.gstatic.com/images?q=tbn%3AANd9GcTrr_6SZl1Az-DPPQrPoJqxl8H_rH2-xk8C7gzxoduRAHoFMTBQ" class="qrimage">
                </div>
                <div style="clear: both"></div>
            </div>
            <div class="col-md-6">
                <div class="visitormaintitle">
                    Guest Details
                </div>
                <div class="visitor_profile ml-0"><span><img alt="" [attr.src]="!!selectedVisitor ? selectedVisitor.guestPic : 'No Data Available'"></span></div>
                <div class="visitor_details">
                    <h4>{{!!selectedVisitor ? selectedVisitor.name: '-'}}</h4>
                    <!-- <h4>{{selectedVisitor.name}}</h4> -->
                    <p>Contact Number : {{!!selectedVisitor && !!selectedVisitor.mobile ? ('+91'+selectedVisitor.mobile) : '-'}}</p>
                </div>
                <div style="clear:both;"></div>
                <div class="visitor_detailstbl">
                    <table class="table">
                        <tr>
                            <td>Visitor Info</td>
                            <td>
                                Name: {{selectedVisitor.name}}<br>
                                Address: {{selectedVisitor.fromAddress}}<br>
                                mobile Number: {{selectedVisitor.mobile}}<br>
                            </td>
                        </tr>
                        <tr>
                                <td>Visitor Info</td>
                                <td>
                                    Name: {{selectedVisitor.hostName}}<br>
                                    Address: {{selectedVisitor.hostHouseNo}}<br>
                                    mobile Number: {{selectedVisitor.hostActiveMobileNo}}<br>
                                </td>
                        </tr>
                        <tr>
                                <td>IN TIME</td>
                                <td>{{selectedVisitor.expectedIn}}</td>
                            </tr>
                        <tr>
                            <td>OUT TIME</td>
                            <td>{{selectedVisitor.expectedOut}}</td>
                        </tr>
                        <tr>
                            <td>VEHICLES DETAILS</td>
                            <td><span *ngFor="let vehicle of selectedVisitor.vehicles">Vehicle No.: {{(!!selectedVisitor.vehicles)?vehicle.vehicleNo:'-'}}<br>Parking Slot: {{(!!selectedVisitor.vehicles)?vehicle.parkingSlot:'-'}}</span></td>
                        </tr>
                        <tr>
                            <td>Historical breach info</td>
                            <td>
                                Interzonal: None<br>
                                Blacklisted: None<br>
                                Disputed: None<br>
                                Classified: None<br>
                            </td>
                        </tr>
                        <tr>
                            <td>Additional Guest Info
                            </td>
                            <td>Count: {{selectedVisitor.otherGuests.length}}<br><span *ngFor="let otherGuest of selectedVisitor.otherGuests">Name: {{otherGuest.name}}<br></span></td>
                        </tr>
                        
                    </table>
                </div>
                <div style="clear: both"></div>
            </div>
        </div>

    </div>
</div>
<!--________________________________-->

</div>