<div *ngIf="openTable" class="white_content_visitor visitor_detailstbl" style="width: 42%;position: absolute;top: 11%;left: 27%;">
    <button type="button" class="close" (click)="closePopUp()" data-dismiss="popover" aria-hidden="true">&times;</button>
    <h3>Visitors</h3>
    <div class="popup_content">
        <div class="row">

            <div class="col-md-12">
                <div class="visitor_profile ml-0"><span><img alt="" src="../../../assets/images/visitor_img1.png"></span></div>
                <div class="visitor_details">
                    <!-- <h4>{{!!selectedVisitor ? selectedVisitor.name: ''}}</h4> -->
                    <h4>{{dataSource}}</h4>
                    <p>Contact Number : +91 98928666</p>
                </div>
                <div style="clear:both;"></div>
                <div class="visitor_detailstbl">
                    <table class="table">
                        <tr>
                            <td>Contact Details</td>
                            <td>98928666</td>
                        </tr>
                        <tr>
                            <td>Last Visited Date</td>
                            <td>24-09-2019 1:00 PM
                            </td>
                        </tr>
                        <tr>
                            <td>Frequent Zones Visited</td>
                            <td></td>
                        </tr>
                        <tr>
                            <td>Invitee</td>
                            <td>Roshan, Flat - 408</td>
                        </tr>
                        <tr>
                            <td>Breach</td>
                            <td><span class="redcolor">Yes on 27th Sep 2019</span></td>
                        </tr>
                    </table>
                </div>
                <div style="clear: both"></div>
            </div>
        </div>

    </div>
</div>